<!DOCTYPE>
<html ng-app="Principal">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CERCADO COCHABAMBA</title>
	
	<!-- core CSS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="css/calendario.css" />
	<script type="text/javascript" src="js/calendar.js"></script>
    
    <link href="css/datepicker.css"rel="stylesheet">
    <link href="css/font-awesome.css"rel="stylesheet">
    <link href="css/font-awesome.min.css"rel="stylesheet">
    <link href="css/responsive.css"rel="stylesheet">
    <link href="css/sticky-footer-navbar.css"rel="stylesheet">
    <link href="css/style.css"rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    
</head>
<body class="homepage">
    <header id="header">
        <div class="top-bar">
            <div class="container">


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content login-modal">
                <div class="modal-header login-modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="loginModalLabel"> AUTENTICACION DE USUARIO</h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div role="tabpanel" class="login-tab">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a id="signin-taba" href="#home" aria-controls="home" role="tab" data-toggle="tab">Ingresar</a></li>
                               
                                <li role="presentation"><a id="forgetpass-taba" href="#forget_password" aria-controls="forget_password" role="tab" data-toggle="tab">¿Se olvido la contraseña?</a></li>
                            </ul>
                        
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active text-center" id="home">
                                    &nbsp;&nbsp;
                                    <span id="login_fail" class="response_error" style="display: none;">el login fallo, vuelva a intentarlo</span>
                                    <div class="clearfix"></div>
                                    <form>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                <input type="text" class="form-control" id="login_username" placeholder="Username">
                                            </div>
                                            <span class="help-block has-error" id="email-error"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                <input type="password" class="form-control" id="password" placeholder="Password">
                                            </div>
                                            <span class="help-block has-error" id="password-error"></span>
                                        </div>
                                        <button type="button" id="login_btn" class="btn btn-block bt-login" data-loading-text="Signing In...." onClick=" window.location.href='admin/index.html' ">INGRESAR
                                        </button>
                                        <div class="clearfix"></div>
                                        <div class="login-modal-footer">
                                            <div class="row">
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <i class="fa fa-lock"></i>
                                                    <a href="javascript:;" class="forgetpass-tab"> Forgot password? </a>
                                                
                                                </div>
                                                
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <i class="fa fa-check"></i>
                                                    <a href="javascript:;" class="signup-tab"> Sign Up </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    &nbsp;&nbsp;
                                    <span id="registration_fail" class="response_error" style="display: none;">Registration failed, please try again.</span>
                                    <div class="clearfix"></div>
                                    <form>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                <input type="text" class="form-control" id="username" placeholder="Username">
                                            </div>
                                            <span class="help-block has-error" data-error='0' id="username-error"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                                <input type="text" class="form-control" id="remail" placeholder="Email">
                                            </div>
                                            <span class="help-block has-error" data-error='0' id="remail-error"></span>
                                        </div>
                                        <button type="button" id="register_btn" class="btn btn-block bt-login" data-loading-text="Registering....">Register</button>
                                        <div class="clearfix"></div>
                                        <div class="login-modal-footer">
                                            <div class="row">
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <i class="fa fa-lock"></i>
                                                    <a href="javascript:;" class="forgetpass-tab"> Forgot password? </a>
                                                
                                                </div>
                                                
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <i class="fa fa-check"></i>
                                                    <a href="javascript:;" class="signin-tab"> Sign In </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane text-center" id="forget_password">
                                    &nbsp;&nbsp;
                                    <span id="reset_fail" class="response_error" style="display: none;"></span>
                                    <div class="clearfix"></div>
                                    <form>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                <input type="text" class="form-control" id="femail" placeholder="Email">
                                            </div>
                                            <span class="help-block has-error" data-error='0' id="femail-error"></span>
                                        </div>
                                        
                                        <button type="button" id="reset_btn" class="btn btn-block bt-login" data-loading-text="Please wait....">Forget Password</button>
                                        <div class="clearfix"></div>
                                        <div class="login-modal-footer">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <i class="fa fa-lock"></i>
                                                    <a href="javascript:;" class="signin-tab"> Sign In </a>
                                                
                                                </div>
                                                
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <i class="fa fa-check"></i>
                                                    <a href="javascript:;" class="signup-tab"> Sign Up </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
       </div>
    </div>



                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p>
                        
<a class="btn btn-launch" href="javascript:;" data-toggle="modal" data-target="#loginModal">INICIAR SESION</a>
                        </p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">INICIO</a></li>
                        <li><a href="nosotros.html">ACERCA DE</a></li>
                        <li><a href="registro.html">SERVICIOS</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">NOTICIAS<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="eventos.html">EVENTOS</a></li>
                                <li><a href="#">ACTIVIDADES</a></li>
                                <li><a href="#">COMUNICADOS</a></li>
                                
                            </ul>
                        </li>

                        <!--<li><a href="blog.html">NOTICIAS</a></li>-->
                        <li><a href="galeria.html">GALERIA</a></li>
                        
                        <li><a href="servicios.html">C. DEPORTIVOS</a></li> 
                        <li><a href="contactos.html">CONTACTOS</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
    
    <section id="about-us">
        <div class="container" ng-controller="Control">
			
        <h1>App de Lista de contactos</h1>
<table class="table">
<thead>
<tr>
<th>Name</th><th>Email</th>
<th>Numero</th><th>Acción</th><th>&nbsp;</th>
</tr>    
</thead>
<tbody>
<tr>
<th><input class="form-control" ng-model="contacto.nombre" </th>
<th><input class="form-control" ng-model="contacto.email" </th>
<th><input class="form-control" ng-model="contacto.numero" </th>
<th><button class="btn btn-primary" ng-click="AddContacto()">Añadir Contacto</button></th>
<th><button class="btn btn-info" ng-click="Actualizar()">Actualizar</button></th>
</tr>
<tr ng-repeat="contacto in ListCont">
    <th>{{contacto.nombre}}</th>
    <th>{{contacto.email}}</th>
   <th>{{contacto.numero}}</th>
    <th><button class="btn btn-danger" ng-click="Eliminar(contacto._id)">Eliminar</button></th>
    <th><button class="btn btn-warning" ng-click="editar(contacto._id)">Editar</button></th>
</tr>    
</tbody>
</table>
            
		</div><!--/.container-->
    </section><!--/about-us-->
	
  

<script src="js/angular.min.js"></script>
<script src="Controllers/controller.js"></script>
</body>

</html>